#photomain {
    width: 660px;
    height: 1000px;
    margin: 20px;
}

#headdiv {
    width:660px;
    height: 30px;
}

#upload {
    color: white;
    border-width: 0px;
    font-size: 12px;
    padding: 3px;
    float: right;
    border-radius: 3px;
    background-color: #46A5FF;
    text-decoration: none;
}
