#maintop {
    width: 70%;
    height: 100%;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/img_main_banner.jpg);
    background-size: 100%, 100%;
}

#mainlogo {
    width: 400px;
    height: 100%;
    position: absolute;
}

#logo {
    width: 400px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#mainnav {
    width: 800px;
    height: 100%;
    float: right;
}

#navigation {
    width: 700px;
    height: 30px;
    bottom: 0px;
    right: 0px;
    position: absolute;
}

#navigation div {
    display: inline-block;
    width: 100px;
    height: 30px;
}

#navigation a {
    font-size: 20px;
    color: white;
}

#mainleftbody {
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;
}

#mainleft {
    width: 100%;
    height: 500px;
    margin-left: 30px;
    margin-top: 30px;
}

#headdiv {
    width: 100px;
    height: 100px;
    border-color: darkgrey;
    border-radius: 8px;
    border-width: 2px;
}

#headimg {
    width: 98px;
    height: 98px;
    border-color: darkgrey;
    border-radius: 8px;
    border-width: 2px;
}